/*//////////////////// Global Styles ////////////////*/

html{
    font-size: 1rem !important;
}

html, body {
    position: relative;
    height: 100%;
    background-color: whitesmoke;
}

.mainContainer {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 10vh; /* height of your footer */
}

p {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.25rem;
}
 body {
     font-family: 'Ubuntu', sans-serif !important;
     margin:0;
     padding:0;

 }

 .aboutContent {
    position: relative;
    z-index: 0;

 }

 .currentPage{
     text-decoration: underline; 
 }


 /*//////////////// Shadow Styles ////////////////*/
 .elegantshadow {
    color: #131313;
    letter-spacing: .25em;
    text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
      -5px 10px 1px #7f7d7d, 
      -6px 12px 1px #828181, 
      -7px 14px 1px #868585, 
      -8px 16px 1px #8b8a89, 
      -9px 18px 1px #8f8e8d, 
      -10px 20px 1px #949392, 
      -11px 22px 1px #999897, 
      -12px 24px 1px #9e9c9c, 
      -13px 26px 1px #a3a1a1, 
      -14px 28px 1px #a8a6a6, 
      -15px 30px 1px #adabab, 
      -16px 32px 1px #b2b1b0, 
      -17px 34px 1px #b7b6b5, 
      -18px 36px 1px #bcbbba, 
      -19px 38px 1px #c1bfbf, 
      -20px 40px 1px #c6c4c4, 
      -21px 42px 1px #cbc9c8, 
      -22px 44px 1px #cfcdcd, 
      -23px 46px 1px #d4d2d1, 
      -24px 48px 1px #d8d6d5, 
      -25px 50px 1px #dbdad9, 
      -26px 52px 1px #dfdddc, 
      -27px 54px 1px #e2e0df, 
      -28px 56px 1px #e4e3e2;
      text-rendering: optimizeLegibility;
      padding-left: 30px;
  }




/*//////////////// About Page Styles ////////////////*/

 .about {
     padding-right: 5vw;
     padding-top: 5vh;
 }



 /*//////////////// Portfolio Styles ////////////////*/

.portfolio-grid{
    margin-left: 2vw;
    margin-right: 2vw;
}

 div.portfolio-grid a {
    position: relative;
    width: 450px;
    padding: 0.5%;
}


div.portfolio-grid.row {
    margin-top: 12.5px;
    align-items: stretch;
}

div.portfolio-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-shadow: 3px 3px 3px #aaa;
    vertical-align: middle;
}

.cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(85, 85, 85, 0.8);
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: .7s ease;
    display: table;
}

.cover-container{
    display: table-cell;
    vertical-align: middle;

}

.cover-text {
    position: relative;
    padding-left: 1vw;
    font-size: 4vw;
    color: #ededed;
    text-align: center;
    border-bottom-style: double;
    border-color: white;
    line-height: 1em;

    
    
}

.info-text{
    position: relative;
    padding-left: 1vw;
    font-size: 2.5vw;
    color: #ededed;
    text-align: center;

}

.cover-hover:hover .cover{
    opacity: 1;
}

/*//////////////// Link Styles ////////////////*/

 nav a {
     color:rgb(255, 255, 255);
     font-size: 1em;
     font-weight: bold;
 }

a:hover{
    color:rgb(218, 216, 216) !important;
    text-decoration: none;
}

a:hover{
    color:rgb(46, 46, 46) !important;
    text-decoration: none;
}

/*//////////////// Header Styles ////////////////*/

.vl {
    border-left: thick solid white;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border-radius: 3px;
}

.fixed{
    position: Fixed;
    top:0;
    background-image: linear-gradient(to bottom right, black, #A9A9A9		);;
    width: 100%;
    z-index: 1;

}

.stickyContainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 0;
}

header {
    color:rgb(138, 136, 136);
    margin-top:20px;
}

header h1 {
    letter-spacing: 1.25rem;
    color:white;
}

header h5 {
    color:rgb(192, 192, 192);
    font-size: 1.1rem;
}

.nav {
    letter-spacing: .125rem;
}

.title{
    padding-left: 5vw;
    padding-right: 15vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

}


/*//////////////// Footer Styles ////////////////*/

footer a {
    color:rgb(255, 255, 255);
    margin: 1em;

}
footer{
    color:rgba(255, 255, 255, 0.856);
    background-image: linear-gradient(to bottom left, black, #A9A9A9);
    bottom: 0;
    position: absolute;
    width: 100%;
}
footer p {
    padding-top: 10px;
    font-size: .66em;
    margin-bottom: 10px
}

footer div {
    padding-top: 10px;
}


/*//////////////// Responsive Styles ////////////////*/


@media (max-width:576px) {

    html {font-size: 1.0rem !important;
    }

    .vl {
        border-top: thick solid white;
        margin-right:5vw;
    }

    .nav {
        padding-top: 1vh;
        padding-right: 15vw;
        padding-bottom: 1vh;
        padding-left: 5vw;
        font-size: .8rem !important;
    
    }
    
    .title {
        padding-right: 1vw !important;
    }
    .nav a {
        padding-right: 4vw;
    }

    header h1 {
        font-size: 1rem !important;
        letter-spacing: 1.15rem !important;
    }

    header h5 {
        font-size: .9rem !important;
    }

    .colOne {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    
    }

    header {
        margin-bottom: 22.5vh;
    }

    p{
        margin-top: 5vh;
        margin-left:3vw;
        margin-right: 3vw;
        font-size: 1rem !important;
    }

    .selfie {
        max-height: 200px;
        max-width:200px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .elegantshadow {
    text-align: center;

    }
    
    footer{
        height: 10vh;
    }

    footer p{
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom:0px;
    }
}


@media (max-width:767px) and (min-width: 577px) {

    html {font-size: 1.0rem !important;
    }

    .vl {
        border-top: thick solid white;
        margin-right:27.5vw;
    }

    .nav {
        padding-top: 1vh;
        padding-right: 15vw;
        padding-bottom: 1vh;
        padding-left: 5vw;
    }
    
    .nav a {
        padding-right: 9vw;
    }


    header h1 {
        font-size: 2rem ;
    }

    header h5 {
        font-size: 1.5rem !important;
    }

    header {
        margin-bottom: 20vh;
    }
    
    .selfie {
        max-height: 250px;
        max-width:250px;
        padding-left: 1vw;
        border-radius: 50%;
    }

}


@media (min-width:768px) and (max-width: 1199px) {
    html {
    font-size: 1rem !important;
    }

    header {
        margin-bottom: 12.5vh;
    }

    .nav{
        padding-top: 1vh;
        padding-right: 15vw;
        padding-bottom: 1vh;
        letter-spacing: .125rem;

    }

    .colOne{
        padding-right:0;
    }

    header h1 {
        font-size: 2rem !important;
    }

    .selfie {
        max-height: 250px;
        max-width:250px;
        padding-left: 1vw;
        border-radius: 50%;
    }

    p {
        font-size: 1.75rem;
    }

    #lowPad {
        padding-top: 10px;
    }

}

@media (min-width:1200px) {
    html {
    font-size: 1.25rem !important;
    }
    
    header {
        margin-bottom: 17.5vh;
    }

    .nav {
        padding-top: 2vh;
        padding-right: 15vw;
        padding-bottom: 1vh;
        letter-spacing: .125rem;
    }

    .selfie {
        max-height: 400px;
        max-width:400px;
        padding-left: 1vw;
        border-radius: 50%;
    }
}
